#main {
  font-family: 'Lato', sans-serif;
  font-weight: 100; 
  background: rgba(0,0,0,0.3);
  color: white;
  width: 70%;
  margin: auto;
  height: 100%;
}

#fader {
  margin: 0;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:hover, a:visited, a:link, a:active {
  color: white;
  text-deocration: none;
  border: 0;

}

#words {
  padding-top: 100px;
  position: absolute;
  display: inline-block;
  width: 60%;
  padding-left: 5%;
  max-width: 40em;
}

span.inactive{
  opacity: 0.3;
}

button {
  display: none;
  font-size: 1.5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

p{
  font-size: 1.7rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span {
  font-size: 1.5rem;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}


/*for fading*/
.fastFadeIn {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;

  text-align: center;
}


.fadeIn {
  text-align: center;

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 5s; /* Firefox < 16 */
      -ms-animation: fadein 5s; /* Internet Explorer */
       -o-animation: fadein 5s; /* Opera < 12.1 */
          animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*for video*/

#main button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}

#main button:hover { 
   background: rgba(0,0,0,0.5);
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('assets/ocean.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

@media screen and (max-width: 500px) { 
  div#main{width:100%;} 
}

@media screen and (max-device-width: 800px) {
  html { background: url(assets/ocean.png); background-size: cover; height: 100%; width: 100%; }
  div{width: 100%;}
  span, p {font-size: 3rem;}
  button {visibility: hidden;}
  #bgvid { display: none; }
}
